{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "paths": {
      "@hc/shared-models/*": ["src/*"]
    }
  },
  "module": { "type": "es6" },
  "minify": false
}
