{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@hc/nest/*": ["./src/*"],
      "@hc/shared-models": ["../shared/models/index.js"],
      "@hc/shared-models/*": ["../shared/models/*"],
      "@hc/shared-utils": ["../shared/utils/index.js"],
      "@hc/shared-utils/*": ["../shared/utils/*"]
    }
  },
  "module": { "type": "es6" },
  "minify": false
}
